@import '../../app/index.scss';
.input {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  svg{
    // width: 20% !important;
    color:  $textcolor ;
    text-align: center;
    position: absolute;
  }
  input{
    box-sizing: border-box;
    padding-left: 1.8em;
    width:100%;
    height: 2.6em;
    border: 1px solid $bordercolor;
    border-radius: 0.2em;
    &::placeholder{
      font-size: 1.1em;
    }
  }
}
