@import '../app//index.scss';
.signup {
  height: 100%;
  width: 100%;
  background-repeat: 'no-repeat';
   background-size: 'cover';
   position: fixed;
   left: 0;

  &-form {

    background-color: $background;
    width: 32em;
    margin: auto;
    margin-top: 4em;
    border: 1px solid $defaultcolor;
    border-radius: 0.3em;
    padding: 1.8em 2em;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgb(102, 101, 101);
    h3{
      text-align: center;
      font-size: 1.8em;
      color: $titlecolor;
      margin-top: 0.2em;
      margin-bottom: 2em;
    }
    &-input {
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      svg{
        width: 20% !important;
        color:  $textcolor ;
        text-align: center;
      }
      input{
        padding-left: 0.2em;
        height: 1.7em;
        width: 70%;
      }
    }
    &-submit {
      transition: 0.1s;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 0.3em;
      font-size: 1.1em;
      margin-top: 2.3em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &:hover{
        background-color: $hover;
      }
      &:link {
        border: none;
      }
    }
  }
}
